html,
body,
#root {
  overflow-x: hidden;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: rgb(240, 240, 240);
}

.shadow {
  -webkit-box-shadow: 10px 10px 37px 0px rgba(0, 0, 28, 1);
  -moz-box-shadow: 10px 10px 37px 0px rgba(0, 0, 28, 1);
  box-shadow: 10px 10px 37px 0px rgba(0, 0, 28, 1);
}

.opacity-2 {
  opacity: 0.4;
}

.text-small {
  font-size: 0.7rem;
}

.bg-dark-blue {
  background-color: #000945;
}

.select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.shield {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.text-transform-none {
  text-transform: none;
}

.max-vh-25 {
  max-height: 25vh;
  overflow: scroll;
}
